body {
    background-color: #373030;

}

#container {
    background-color: #C4C4C4;
    position: absolute;
    width: 75vw;
    height: 95%;
    left: 24%;
    top: 30px;
    bottom: 30px
    
}

#title-box {
    position: relative;
    width: 500px;
    height: 120px;
    margin-left: 25%;
    margin-top: 2%;
    background: #AFAFAF;
    border-radius: 10px;
    
}

#title-text{
    position: relative;
    top: 25%;
    left: 30%;
}

h2 {
    font-size: 35px;
    line-height: 60px;
    justify-content: center;
    display: flex;
    letter-spacing: 0.03em;
    color: #000000;
}

.box-tarefas{
    position: relative;
    height: 60vh;
    overflow-y: auto;
    
}

.box-dates{
    position: relative;
    overflow-y: auto;
    height: 93vh;
}

#add-activity-button {
    position: relative;
    width: 340px;
    height: 40px;
    margin-left: 35%;
    margin-top: 1%;
    background: #FEDA70;
    border-radius: 43px;
    border: none;
}

.blocoTarefas {
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    position: relative;
    background: #AFAFAF;
    border-radius: 43px;
}



#tipoTarefa {
    position: absolute;
    width: 170.18px;
    height: 24px;
    left: 30px;
    top: 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: #000000;
}

#tarefa {
    position: relative;
    width: 600px;
    height: 60px;
    left: 200px;
    top: 5px;
    background: #C4C4C4;
    border-radius: 75px;
}

#descricao {
    position: absolute;
    width: 488.53px;
    height: 56px;
    left: 50px;
    top: 1px;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
}

h2#tarefa > img {
    position: absolute;
    width: 25px;
    height: 28px;
}

#lapis {
    left: 612px;
    right: 10%;
    top: 16px;
}

#lixeiro {
    left: 652px;
    right: 10%;
    top: 16px;
}

#lateral {
    position: absolute;
    width: 267px;
    height: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: #212048;
}

#add-date-button {
    position: absolute;
    margin-left:40%;
    bottom: 0px;
    width: 40px;
    height: 40px;
    background: #212048;
    border: none;
}

.eventos {
    position: relative;
    margin-left: 50px;
    margin-top: 20px;
    background: #E7E7E7;
    border-radius: 30px;
    height: 130px;
    width: 150px;
    border-radius: 30px;
}

#diaMes {
    position: absolute;
    left: 23%;
    right: 17.24%;
    top: 05%;
    bottom: 34.34%;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 57px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#ano{
    position: absolute;
    left: 37%;
    right: 26.44%;
    top: 47%;
    bottom: 34.34%;
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

#diaHoje {
    position: absolute;
    margin-top: 60%;
    margin-left: 28%;
    background: #C4C4C4;
    border-radius: 75px;
    height: 20px;
    width: 65px;
}

#hoje { 
    position: absolute;
    left: 15px;
    font-family: 'Rufina';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

::-webkit-scrollbar{
    background-color: #AFAFAF;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb{
    background: #414141;
   border-radius: 5px;

}