body {
    background-color: var(--bg-schedule);
}

#container {
    background-color: var(--light-gray);
    position: absolute;
    width: 75vw;
    height: 95%;
    left: 24%;
    top: 30px;
    bottom: 30px;
}

#title-box {
    position: relative;
    width: 500px;
    height: 120px;
    margin-left: 28%;
    margin-top: 2%;
    background: var(--gray);
    border-radius: 10px;

}

#title-text {
    position: relative;
    top: 25%;
    left: 30%;
}

h2 {
    font-size: 35px;
    line-height: 60px;
    justify-content: center;
    display: flex;
    letter-spacing: 0.03em;
    color: var(--black);
}

#dateActivity {
    margin-left: 36%;
}

.box-tarefas {
    height: 60vh;
    overflow-y: auto;

}

.box-dates {
    position: relative;
    overflow-y: auto;
    height: 93vh;
}

#add-activity-button {
    position: relative;
    width: 340px;
    height: 40px;
    margin-left: 37%;
    margin-top: 1%;
    background: var(--yellow);
    border-radius: 43px;
    border: none;
}

.blocoTarefas {
    flex: 1;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 10px;
    background: var(--gray);
    border-radius: 43px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}



#tipoTarefa {
    width: 100vh;
    height: 50pt;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-bottom: 7px;
    margin-left: 20pt;
    margin-right: 5pt;
}

#tarefa {
    width: 75%;
    margin-top: 10px;
    background: var(--light-gray);
    border-radius: 75px;
    margin-right: 80pt;
}

#descricao {
    display: flex;
    width: 100vh;
    height: 56px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    display: flex;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black);
    margin-left: 20px;
    margin-top: 5px;
}

h2#tarefa>img {
    width: 25px;
    height: 28px;
}

#lapis {
    position: relative;
    right: -45pt;
    top: 15px;
}

#lixeiro {
    position: relative;
    right: -60pt;
    top: 15px;
}

section#lateral {
    position: absolute;
    width: 267px;
    height: 100%;
    left: 0px;
    top: 0px;
    bottom: 0px;
    background: var(--purple);
}

#add-date-button {
    position: absolute;
    margin-left: 40%;
    bottom: 0px;
    width: 40px;
    height: 40px;
    background: var(--purple);
    border: none;
}

.eventos {
    margin-left: 50px;
    margin-top: 20px;
    background: var(--white);
    border-radius: 30px;
    height: 130px;
    width: 150px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#diaMes {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    color: var(--black);
    margin-top: 12px;
}

#ano {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--black);
    margin-bottom: 10pt;
}

#diaHoje {
    background: var(--light-gray);
    border-radius: 75px;
    height: 20px;
    width: 100px;
}

#hoje {
    font-family: 'Rufina';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: var(--black);
}

#alertNoActivities {
    margin-left: 7%;
    margin-top: 15%;
}

::-webkit-scrollbar {
    background-color: var(--gray);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
    border-radius: 5px;

}

/* ******************************************************************** */

div#modal {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--light-gray);
    padding: 20px 0px;
    width: 60%;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    width: 90%;
    font-size: 24px;
    margin-bottom: 15px;
}

input[type="date"]#date {
    width: 120pt;
    text-align: center;
    border-radius: 20px;
    border: none;
    padding: 4pt;
    background-color: var(--gray);
    font-size: 16pt;
}

input[type="date"]#date::-webkit-calendar-picker-indicator {
    display: none;
}

div#textAreaBox {
    width: 100%;
    background-color: var(--gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15pt;
}

input#desc {
    background-color: var(--light-gray);
    border: none;
    border-radius: 15px;
    resize: none;
    width: 95%;
    margin: 6pt 0pt;
    margin: 10px;
    padding: 10px 0px;
    text-indent: 10pt;
}

input[type="text"] {
    border: none;
    background-color: var(--gray);
    border-radius: 20px;
    padding: 5px 0px;
    text-indent: 20pt;
}

h1#addItemTitle {
    border: none;
    padding: 10px 10%;
    text-align: center;
    font-size: 48px;
    background-color: var(--gray);
    border-radius: 20px;
    margin-bottom: 10pt;
}

h2#alterItemTitle {
    border: none;
    font-size: 24px;
}

#close-addModal {
    height: 8vh;
    margin-bottom: 2%;
    margin-left: 90%;
}

.confirmButton {
    border: none;
    font-size: 36px;
    padding: 5px;
    width: 40vh;
    border-radius: 40px;
    background-color: var(--green);
    margin-top: 20pt;
    text-align: center;
}

.cancelButton {

    border: none;
    font-size: 36px;
    padding: 5px;
    width: 40vh;
    border-radius: 40px;
    background-color: var(--gray);
    margin-top: 20pt;
    text-align: center;
}

div.options {
    display: flex;
    flex-direction: row;
    width: 80%;
    justify-content: space-around;
}

div#updateItem {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 550pt;
    padding: 50px 0px;
    background-color: var(--light-gray);
}

button#remove,
button#cancel {
    width: 45%;
    border: none;
    border-radius: 20px;
    padding: 5pt 10pt;
    font-size: 36px;
}

p#removeText {
    font-size: 36px;
    margin-bottom: 60pt;
}

p#alterText {
    font-size: 36px;
    margin-bottom: 20pt;
}

button#cancel {
    background-color: var(--gray);
}

button#remove {
    background-color: var(--red);
}

input#scheduleDate {
    margin-bottom: 5pt;
    text-align: start;
    text-indent: 3pt;
    width: 180pt;
    font-size: 30px;
}

#alert-equal-name {
    background-color: rgba(255, 11, 11, 0.397);
    padding: 20px;
    border-radius: 10px;
}

@media (min-width: 1400px) {
    #title-box{
        margin-left: 32%;
    }

    #add-activity-button{
        margin-left: 40%;
    }
}
