@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
}

:root {
    --yellow: #FEDA70;
    --bg: #373030;
    --purple: #212048;
    --black: #000000;
    --gray: #afafaf;
    --light-gray: #c4c4c4;
    --red: #E8665C;
    --green: #52CC7C;
    --dark-gray: #414141;
    --bg-schedule: #373030;
    --white: #e7e7e7;
}

body {
    -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
select,
button,
h2,
div,
p {
    font-weight: 400;
    font-size: 1rem;
    font-family: 'Rufina', serif;
}

button {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}


img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}